/* -------------- Tags ---------------- */



/* -------------- Classes ------------- */

.modal-sm {
	width: 400px;
}

.modal-content {
	text-align: center;
}

.form-group input {
	width: 50%;
}


/* -------------- IDs ---------------- */

#addAccountButton {
	margin-left: 35%;
	margin-right: 30%;
} 

#airlineModal {
	overflow: hidden;
}
